* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 4.2rem;
  background-color: #eef1f6;
  height: 8.4rem;
  padding: 0 8.4rem;
  position: relative;
}

.logo {
  height: 2.4rem;
}

.icon {
  height: 14px;
  width: 14px;
  top: 50%;
  transform: translate(0, 10%);
}

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3.6rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #111;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active,
.arrow-nav:hover,
.arrow-nav:active {
  color: #c71847;
}

.icon:hover,
.icon:active {
  color: #111;
}

.btn-start:link,
.btn-start:visited {
  margin-left: 42rem;
  color: #fff;
  background-color: #fe3e66;
  padding: 1.2rem 2.4rem;
  border-radius: 2.4rem;
}

.btn-start:hover,
.btn-start:active {
  background-color: #e0174c;
}

/*********************/
/*** Home Section ***/
/********************/

.home-section {
  background-color: #eef1f6;
}

.home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-top: 9.6rem;
  padding-left: 7.2rem;
}

.info-home {
  display: flex;
  flex-direction: column;
  margin-top: -9.6rem;
}

.header-home {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 2.2rem;
  color: #181b3b;
}

.text-home {
  font-size: 1.6rem;
  color: #404350;
  margin-bottom: 3.6rem;
}

.info-btn {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
  background-color: #fff;
  border-radius: 3.2rem;
  margin-bottom: 3.6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-left: 3px solid #fd4d72;
  color: #666;
  max-width: 85%;
}

.mail-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

input {
  border-style: none;
  justify-content: left;
}

input::placeholder {
  font-size: 1.6rem;
}

.mail-icon {
  width: 15px;
  height: 15px;
  margin-left: -1.2rem;
}

.icon-home {
  width: 20px;
  height: 20px;
  color: #fd4d72;
  cursor: pointer;
  opacity: 80%;
  margin-right: -1.2rem;
}

.tail-home {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2.4rem;
  margin-left: 2.4rem;
}

.imgs-tail {
  display: flex;
}

.imgs-tail img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -1rem;
  border: 3px solid #fff;
}

.imgs-tail img:first-child {
  z-index: 3;
}

.imgs-tail img:nth-child(2) {
  z-index: 2;
}

.imgs-tail img:nth-child(3) {
  z-index: 1;
}

.texts {
  line-height: 1.1;
}

.texts h2 {
  font-size: 22px;
  font-weight: 700;
}

.texts p {
  font-size: 12px;
  color: #666;
  font-weight: 500;
}

.img-home {
  width: 100%;
  height: 100%;
  /* margin-top: 2.4rem; */
}

/*******************/
/* Service section */
/*******************/

.service-sec {
  width: 90%;
  margin: 0 auto;
  margin-top: 8.4rem;
}

.primary-header {
  font-size: 4rem;
  color: #1c1b3a;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.4rem;
}

.primary-text {
  font-size: 1.6rem;
  color: #63606b;
}

.btn-service {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2.6rem;
  border-radius: 2.6rem;
  border-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.btn-service p {
  font-size: 1.5rem;
  font-weight: 550;
}

.btn-service:hover,
.btn-service:active {
  background-color: #c71847;
  color: #fff;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.6rem;
  margin-top: 4.8rem;
  margin-right: 2.4rem;
  margin-bottom: 8.4rem;
}

.feature {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #eee;
  padding: 4.8rem 4.8rem;
  border-radius: 1.2rem;
}

.feature-1:hover,
.feature-1:active {
  border-top: 2px solid #31acfc;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.feature-2:hover,
.feature-2:active {
  border-top: 2px solid #df5392;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.feature-3:hover,
.feature-3:active {
  border-top: 2px solid #3578fe;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.feature-4:hover,
.feature-4:active {
  border-top: 2px solid #f57944;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.feature-5:hover,
.feature-5:active {
  border-top: 2px solid #7588d5;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.feature-6:hover,
.feature-6:active {
  border-top: 2px solid #40b095;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.icon-service {
  width: 1.8rem;
  height: 1.8rem;
  padding: 1.6rem 1.6rem;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 2.4rem;
}

.icon-celestial {
  background-color: #31acfc;
}

.icon-red {
  background-color: #df5392;
}

.icon-blue {
  background-color: #3578fe;
}

.icon-orange {
  background-color: #f57944;
}

.blue-icon {
  background-color: #7588d5;
}

.icon-green {
  background-color: #40b095;
}

.secondary-header {
  font-size: 2rem;
  color: #1c1b3a;
  margin-bottom: 1.4rem;
}

.secondary-text {
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
  color: #666;
  line-height: 1.3;
}

.more-inf {
  border-style: none;
  background-color: #fff;
  display: flex;
  font-size: 1.4rem;
  color: #454545;
  font-weight: 500;
  cursor: pointer;
}

/*********************************/
/* The second section of service */
/*********************************/

.second-service {
  padding: 0 9.6rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  height: 46rem;
  background-color: #eef1f6;
  padding: 6.4rem;
  overflow-y: hidden;
}

.img-sec-service {
  align-self: start;
  transform: translateY(-7.5%);
}

.title {
  color: #ff3e66;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  margin-top: 3.6rem;
  font-weight: 500;
}

.description-header {
  font-size: 4.2rem;
  margin-bottom: 1.6rem;
  color: #181b3b;
  line-height: 1.2;
}

.description-text,
.para {
  margin-bottom: 3.6rem;
  color: #666;
  line-height: 1.4;
}

.description-text {
  font-size: 1.6rem;
  margin-right: 2.4rem;
}

.choosen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.choose {
  display: flex;
  gap: 1.2rem;
}

.correct-img {
  background-color: #3fc077;
  color: #fff;
  border-radius: 50%;
  padding: 0.4rem 0.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  transform: translate(0, 20%);
}

.h2 {
  color: #1c1b3a;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.para {
  font-size: 1.4rem;
}

/*****************/
/* Pages Section */
/*****************/

.pages-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 9.6rem;
  background-color: #181b3b;
  padding: 6.4rem;
}

.basic {
  margin-bottom: 4.8rem;
}

.basic .page-header {
  text-align: center;
  font-size: 3.6rem;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 1.4rem;
}

.basic .text-page {
  font-size: 1.4rem;
  color: #eee;
}

.description-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.6rem;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 2.4rem;
  padding: 2.4rem 4.8rem;
  border: 1px solid #202338;
  border-radius: 0.6rem;
}

.page:hover,
.page:active {
  box-shadow: 0 1rem 2rem rgba(16, 30, 99, 0.329);
}

.text-box .page-header {
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 1.2rem;
}

.text-box .text-page {
  font-size: 1.2rem;
  color: #aaa;
}

.circle-icon {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #ff3e66;
  box-shadow: 0 0 0 6.5px rgba(255, 62, 101, 0.1);
  transform: translateY(-50%);
}

.circle-icon-blue {
  background-color: #2facfc;
  box-shadow: 0 0 0 6.5px rgba(47, 173, 252, 0.1);
}

.circle-icon-green {
  background-color: #33c956;
  box-shadow: 0 0 0 6.5px rgba(50, 195, 106, 0.1);
}

.img-page {
  width: 45%;
  height: 45%;
}

/****************/
/* Work Section */
/****************/

.work-sec {
  width: 90%;
  margin: 0 auto;
  margin-top: 8.4rem;
  margin-bottom: 8.4rem;
}

.text-primary {
  font-size: 1.6rem;
  color: #63606b;
  margin-top: 1.2rem;
  margin-bottom: 9.6rem;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.4rem;
  margin-bottom: 9.6rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.4rem 4.8rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;
}

.box:hover,
.box:active {
  transform: scale(1.1);
}

.img-box {
  width: 4.2rem;
  height: 4.2rem;
  margin-bottom: 1.2rem;
}

.box-title {
  font-size: 3.2rem;
  color: #1c1b3a;
  margin-bottom: 0.8rem;
}

.box-title span {
  font-weight: 400;
}

.box-text {
  font-size: 1.2rem;
  color: #454545;
  font-weight: 500;
}

.img-work {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
  margin-bottom: 3.6rem;
}

/* .icon-work {
  color: #e0174c;
  padding: 1.2rem 2.4rem;
  border-radius: 2.4rem;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
} */

.img-video {
  position: relative;
}

.btn-puase {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff3e66;
  background-color: #fff;
  font-size: 3.6rem;
  width: 8.4rem;
  height: 8.4rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.btn-puase:hover {
  background-color: #ff3e66;
  color: #fff;
}

.btn-puase::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eee;
  border-bottom-color: transparent;
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%;
}

.btn-puase::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63%);
  border: 1px solid transparent;
  border-bottom-color: #eee;
  width: 10.4rem;
  height: 12.8rem;
  border-radius: 50%;
}

.tail-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.6rem;
  margin-left: 9.6rem;
}

.heading-primary {
  font-size: 3rem;
  color: #1c1b3a;
  margin-bottom: 1.2rem;
}

.work-text {
  font-size: 1.6rem;
  color: #666;
  line-height: 1.4;
}

.icons-work {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.icon-work {
  display: flex;
  justify-content: center;
  padding: 1.2rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  color: #666;
  transform: translateY(-50%);
}

.icon-work:hover,
.icon-work:active {
  background-color: #e0174c;
  color: #fff;
}

.btn-work {
  margin-left: 9.6rem;
  padding: 1.6rem 3.2rem;
  border-radius: 3.2rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #202338;
  font-size: 1.6rem;
  font-weight: 600;
}

.btn-work:hover,
.btn-work:active {
  cursor: pointer;
  background-color: #e0174c;
  color: #fff;
}

/*******************/
/* Contact Section */
/*******************/

.contact-sec {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #eef1f6;
  padding: 9.6rem 0 9.6rem 8.4rem;
  margin-bottom: 8.4rem;
}

.contact-header {
  font-size: 4.4rem;
  color: #1c1b3a;
  line-height: 1.2;
  margin-bottom: 1.4rem;
}

.contact-text {
  font-size: 1.6rem;
  color: #63606b;
  line-height: 1.4;
  margin-bottom: 3.6rem;
}

.btn-download {
  display: flex;
  gap: 1.2rem;
}

.first-download,
.second-download {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 1.6rem;
  border: 2px solid #181b3b;
}

.first-download {
  background-color: #181b3b;
  color: #fff;
}

.second-download {
  color: #181b3b;
}

.first-download:hover,
.first-download:active {
  background-color: #171557;
}

.second-download:hover,
.second-download:active {
  background-color: #c71847;
  color: #fff;
}

.download-icon {
  width: 3.6rem;
  height: 3.6rem;
}

.download-text {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  font-weight: 600;
}

.ios {
  margin-left: -4.2rem;
}
